{{ if or .Params.postMetaInFooter (and .Site.Params.postMetaInFooter (ne .Params.postMetaInFooter false)) -}}
<div class="post-copyright">
  <!-- <p class="copyright-item">
    <span class="item-title">{{ T "author" }}</span>
    <span class="item-content">{{ if .Params.author }}{{ .Params.author | safeHTML }}{{ else }}{{ .Site.Author.name | safeHTML }}{{ end }}</span>
  </p>
  <p class="copyright-item">
    <span class="item-title">{{ T "lastMod" }}</span>
    <span class="item-content">{{ .Lastmod.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}</span>
  </p>
  <hr> -->
  <div class="copyright-hero">
    <div class="copyright-hero-img">
      <img class="author-profile-image" src="{{ (.Params.authorAvatar | default .Site.Author.avatar) | absURL}}" alt="Author" />
    </div>
    <div>
      <strong class="copyright-hero-text">{{ if .Params.author }}{{ .Params.author | safeHTML }}{{ else }}{{ .Site.Author.name | safeHTML }}{{ end }}</strong> <br>
      <span class="copyright-hero-text description">{{ if .Params.author }}{{ .Params.author.description | safeHTML }}{{ else }}{{ .Site.Author.description | safeHTML }}{{ end }}</span>
    </div>
  </div>

  {{ if $.Site.Params.linkToMarkDown -}}
    {{ with $.OutputFormats.Get "markdown" -}}
    <p class="copyright-item">
      <span class="item-title">{{ T "markdown" }}</span>
      <span class="item-content"><a class="link-to-markdown" href="{{ .Permalink }}" target="_blank">{{ T "seeMarkDown" }}</a></span>
    </p>
    {{- end }}
  {{- end }}
  {{ if or .Params.contentCopyright (and .Site.Params.contentCopyright (ne .Params.contentCopyright false)) -}}
  <p class="copyright-item">
    <span class="item-title">{{ T "license" }}</span>
    <span class="item-content">
    {{- if .Params.contentCopyright -}}
      {{ .Params.contentCopyright | safeHTML }}
    {{- else -}}
      {{ .Site.Params.contentCopyright | safeHTML }}
    {{- end -}}
    </span>
  </p>
  {{- end }}
</div>
{{- end }}
