{{- define "title" }}{{ T .Data.Plural }} - {{ .Site.Title }}{{ end -}}

{{- define "content" -}}
  {{ $name := .Data.Plural -}}
  {{ $terms := .Data.Terms.ByCount -}}
  {{ $length := len $terms -}}

    <div class="terms">
      <div class="terms-title">
        {{ if eq $name "categories" -}}
          {{ if eq $length 0 -}}
            {{ T "zeroCategoryCounter" }}
          {{- else -}}
            {{ T "categoryCounter" $length }}
          {{- end }}
        {{- else if eq $name "tags" -}}
          {{ if eq $length 0 -}}
            {{ T "zeroTagCounter" }}
          {{- else -}}
            {{ T "tagCounter" $length }}
          {{- end }}
        {{- end }}
      </div>
      <div class="terms-tags">
        {{ range $key, $value := $terms -}}
          <a class="terms-link" href="{{ $name | relLangURL }}/{{ $value.Term | urlize }}/">
            {{ $value.Term }}
            <span class="terms-count">{{ len $value.Pages }}</span>
          </a>
        {{ end -}}
      </div>
    </div>

    <div id="terms-accordion">
      {{ range $key, $value := $terms -}}
        <div class="terms-header" onclick="toggleDisplay({{$key}}+'-dropdown', {{ $key }}+'-btn')">
          <a class="terms-link" href="{{ $name | relLangURL }}/{{ $value.Term | urlize }}/" onclick="toggleDisplay({{$key}}+'-dropdown', {{ $key }}+'-btn')">
            <h1>{{ humanize $value.Term }}</h1>
          </a>
          <!-- <a class="terms-count" >{{ len $value.Pages }}</a> -->
          <h1 class="terms-toggle" id="{{ $key }}-btn">+</h1>
        </div>
        <div id="{{ $key }}-dropdown" class="hide">
          {{ range $value.Pages.ByDate.Reverse -}}
            {{ .Render "summary" }}
          {{ end -}}
        </div>
      {{ end -}}
    </div>
{{- end }}
