<div class="logo-wrapper">
  <a href="{{ "/" | relLangURL }}" class="logo">
    {{- if .Site.Params.logoTitle -}}
      {{ .Site.Params.logoTitle }}
    {{- else -}}
      {{ .Site.Title }}
    {{- end -}}
  </a>
</div>

<nav class="site-navbar">
  <ul id="menu" class="menu">
    {{ $currentNode := . }}
    {{ $activeClass := newScratch }}
    {{ range .Site.Menus.main -}}
      {{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .)}}
        {{$activeClass.Set "class" "menu-item active"}}
      {{ else }}
        {{ $activeClass.Set "class" "menu-item" }}
      {{end}}
      <li class="{{ $activeClass.Get "class" }}">
        <a class="menu-item-link" href="{{ .URL | safeURL }}">{{ .Name }}</a>
      </li>
    {{- end }}
  </ul>
</nav>
